extends layout

block content
  h2 All Videos
  ul
    li
      a(href="/videos/1")
        img(src="/images/thumbnail1.jpg")
        h3 Video Title
        p Video Description
    li
      a(href="/videos/2")
        img(src="/images/thumbnail2.jpg")
        h3 Video Title
        p Video Description
