doctype html
html
  head
    meta(charset="UTF-8")
    title YouTube-like Website
    link(rel="stylesheet" href="/css/main.css")
  body
    header
      h1 YouTube-like Website
    main
      block content
    script(src="/js/main.js")
