nav {
    background-color: #202020;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-form input[type="text"] {
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
  }
  
  .search-form button {
    border: none;
    background-color: #ffffff;
    color: #202020;
    padding: 5px;
    border-radius: 3px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  